<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MindConnect</title>

  <!-- for your style to be applied first -->
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  
</head>

<body><style>
  body {
        background-color: #00e1ff; 
        font-family: Arial, sans-serif;
        text-align: center;
        color: black;
    }
    .feeds img {
        max-width: 100%;
        height: auto;
    }
    p a {
        color: black; 
        text-decoration: none;
    }
</style>

  {% include 'navigation.html' %}
    <div class="header">
        <h1>Feed Page</h1>
    </div>

    <div class="feeds">
        <img 
          src= "{{ image_url }}" alt="Image from external source">
        <div class="title">MindConnect</div>
        <div class="description">
            Welcome to MindConnect! Stay updated with the latest news and updates on mental health
        </div>
        <!-- Like Button -->
        <form action="{{ url_for('like_post') }}" method="POST">
          <button type="submit">Like</button>
          <p>Likes: {{ likes }}</p>
        </form>
        <!-- Comment Form -->
         <form action="{{ url_for('add_comment') }}" method="POST">
          <textarea name="comment" placeholder="Write a comment..." required></textarea>
          <button type="submit">Comment</button>
        </form>
        <!-- Display Comments -->
         <h2>Comments:</h2>
         <ul>
          {% for comment in comments %}
          <li>{{ comment }}</li>
          {% endfor %}
        </ul>

  <!-- for faster page loading, connect your js last -->
  <link rel="stylesheet" href="{{ url_for('static', filename='jquery-3.7.1.min.j') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='app.js') }}">  
</body>

</html>