<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MindConnect</title>

  <!-- for your style to be applied first -->
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  
</head>

<body>
  {% include 'navigation.html' %}

  <h1>Reset password</h1>
  <form action="reset-password" method="POST">         
    <div>
      <label>Password:</label> <br/>
      <input type="password" name="password" />
    </div>     
    <div>
      <label>Confirm Password:</label> <br/>
      <input type="password" name="confirm_password" />
    </div>     
    <p><input type="submit" value="Submit" /></p>
  </form>



  <!-- for faster page loading, connect your js last -->
  <link rel="stylesheet" href="{{ url_for('static', filename='jquery-3.7.1.min.js') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='app.js') }}">  
</body>

</html>